main {
    width: 100%;
    overflow: hidden;

    >.header {
        width: 100%;
        height: 120px;
        background-color: rgb(26, 24, 22);
        padding: 0 60px;

        /* border: 1px solid yellow; */
        >.row {
            justify-content: space-between;

            >* {
                min-width: 70px;
                height: 100%;
                color: white;

            }

            >figure {
                width: 25%;
                display: flex;
                align-items: center;
            }

            >ul {
                width: 50%;
                padding: 0 20px;

                >li {
                    margin: 0 10px;
                    font-size: 18px;
                    position: relative;

                    >a {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        position: relative;

                        &:hover::after {
                            width: 100%;
                        }

                        &::after {
                            content: '';
                            display: flex;
                            position: absolute;
                            width: 0px;
                            height: 2px;
                            background-color: rgb(255, 255, 255);
                            bottom: 37%;
                            left: 0;
                            transition: 0.5s;
                        }
                    }

                    &:hover>ul {
                        visibility: visible;
                        opacity: 1;
                    }

                    >ul {
                        /* border: 1px solid red; */
                        /* SubMenu */
                        width: 500%;
                        opacity: 0;
                        visibility: hidden;
                        transition: 1s;
                        position: absolute;
                        top: 100%;
                        left: -10px;
                        z-index: 9;

                        >li {
                            /* border: 1px solid royalblue; */
                            background-color: rgb(31, 29, 29);
                            position: relative;

                            >a {
                                display: flex;
                                height: 45px;
                                align-items: center;
                                text-transform: capitalize;
                                padding: 0px 20px;
                                color: rgb(168, 162, 162);

                                &:hover::after {
                                    width: 40%;

                                }

                                &::after {
                                    display: flex;
                                    position: absolute;
                                    content: '';
                                    width: 0px;
                                    height: 1px;
                                    background-color: #fff;
                                    left: 20px;
                                    bottom: 20%;
                                    transition: 0.4s;
                                }




                            }

                        }


                    }
                }
            }

            >div {
                width: 25%;
                justify-content: end;
                align-items: center;

                >i {
                    color: rgb(255, 255, 255);
                    font-size: 20px;
                    margin-left: 25px;

                }
            }
        }
    }

    /* ****************End-Header**************** */

    >.video {
        width: 100%;
        height: 100vh;
        background-color: rgb(26, 24, 22);

        >.row {
            >* {
                width: 50%;
            }

            >video {
                object-fit: cover;
                object-position: right;
                height: 100%;
            }

            >.row {
                align-content: center;
                justify-content: center;

                >* {
                    width: 100%;
                    display: flex;
                    color: white;
                    width: fit-content;
                }

                >figure {
                    margin-bottom: 30px;


                }

                >p {
                    font-size: 50px;
                    text-align: center;
                }

                >a {
                    font-size: 20px;
                    margin-top: 25px;
                    border: 2px solid rgb(255, 255, 255);
                    padding: 15px 30px;
                    transition: 0.4s;

                    &:hover {
                        color: black;
                        background-color: white;
                    }
                }
            }
        }
    }

    /* ********End-video********  */
    >.pic {
        width: 100%;

        >.row {
            justify-content: center;
            margin: 85px 0;

            >figure {
                width: 345px;
                height: 335px;
                /* border: 1px solid blue; */
                margin: 10px 25px;
                position: relative;
                overflow: hidden;

                &:hover {
                    &::after {
                        width: 100%;
                    }

                    >img {
                        scale: 1.08;
                    }

                    >span {
                        bottom: 0;
                        left: 0px;
                    }
                }

                &::after {
                    content: '';
                    width: 0;
                    height: 1px;
                    background-color: black;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transition: 0.8s;
                }

                * {
                    width: 100%;
                    /* border: 1px solid red; */
                }

                >img {
                    height: 75%;
                    object-fit: cover;
                    transition: 0.7s;
                    overflow: hidden;
                }

                >span {
                    height: 25%;
                    font-size: 25px;
                    display: flex;
                    align-items: center;
                    position: absolute;
                    bottom: 0;
                    left: -35px;
                    transition: 0.4s;

                }

            }

        }

    }

    /* ********End-pic********  */
    >.text {
        width: 100%;

        >.row {
            margin: 100px 0;

            >span {
                width: 100%;
                font-size: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 7px 0;
            }
        }
    }

    /* ********End-text********  */
    >.gallery {
        width: 100%;
        background-color: rgb(250, 248, 246);

        >.row {
            align-items: center;
            justify-content: center;

            >.row {
                width: 50%;
                justify-content: center;

                >* {
                    width: 100%;
                    display: flex;
                    justify-content: center;

                }

                >figure {
                    width: 250px;
                    height: 280px;
                    margin: 20px;
                    overflow: hidden;
                    position: relative;

                    >img {
                        width: 100%;
                        height: 100%;
                        transition: 0.4s;

                        &:hover {
                            scale: 1.1;
                        }

                    }

                    &:hover>ul {
                        visibility: visible;
                        opacity: 1;


                    }

                    >ul {
                        width: 80%;
                        height: 20%;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: 40%;
                        left: 10%;
                        transition: 0.4s;
                        visibility: hidden;
                        opacity: 0;

                        >li {
                            width: 40px;
                            height: 40px;
                            background-color: #fff;
                            justify-content: center;
                            align-items: center;
                            margin-right: 10px;
                            display: flex;

                            &:hover {
                                margin-bottom: 10px;
                            }
                        }
                    }

                }


                >.row {
                    width: 100%;

                    >a {
                        width: fit-content;
                        text-align: center;
                        font-size: 20px;
                    }
                }

                >span {
                    color: rgb(43, 42, 42);
                    margin: 5px;
                }
            }

            >figure {
                width: 50%;
                position: relative;

                &:hover::after {
                    background-color: rgba(0, 0, 0, 0);


                }

                >img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }

                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background-color: rgba(34, 34, 34, 0.432);
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: 1s;
                }
            }
        }
    }

    /* ********End-gallery******** */
    >.end-site {
        width: 100%;
        height: 95vh;
        background-image: url(../file/bg1.jpg);
        background-size: cover;
        background-position: center;
        position: relative;

        &::before {
            content: '';
            width: inherit;
            height: inherit;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(59, 59, 59, 0.404);
        }

        >.row {
            height: 100%;
            width: 100%;
            justify-content: center;
            display: flex;
            position: relative;
            z-index: 9;

            >* {
                width: 100%;
                text-align: center;
                color: white;

            }

            >span {
                margin-top: 220px;
                font-size: 55px;
            }

            >.row {
                justify-content: center;
                margin-top: 20px;

                >a {

                    height: fit-content;
                    padding: 8px 25px;
                    border: 1px solid white;
                    transition: 0.4s;

                    &:hover {
                        background-color: white;
                        color: black;
                    }
                }
            }

        }

        /* *****end-site***** */
    }

    >.footer {
        width: 100%;
        height: 100px;
        justify-content: center;

        >.row {
            background-color: rgb(26, 24, 22);
            justify-content: space-around;

            >* {
                align-items: center;
                display: flex;
                color: white;
                font-size: 18px;
            }

            >.row {
                >li {
                    color: rgb(236, 234, 234);
                    background-color: rgb(33, 34, 34);
                    margin-left: 15px;
                }

            }
        }

    }

    /* *****end-footer***** */
}